<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0A2472; color: #ffffff;">
  <!-- Navbar content -->


  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>Employee Management</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/employee/home">Home</a>
        <a class="nav-link active" routerLink="/employee/add">Add Employee</a>
        <a class="nav-link active" routerLink="/employee/home">Update Employee</a>
        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a> -->
      </div>
    </div>
    <div class="d-flex">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
